* {
    margin: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f7ecde;
    font-family: "PT Sans Caption", sans-serif;

}

::selection {
    background-color: #fec260;
    color: black;
}

h1 {
    width: 265px;
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: 400;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #fec260;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

h1:hover::after {
    height: 70%;
}

.bookmark-input {
    border-bottom: dotted 2px black;
    border-top: dotted 2px black;
}

.bookmark-input h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#submit {
    width: 150px;
    margin: auto;
}

button:hover {
    opacity: 0.8;
}

#visit {
    background-color: #9eb23b;
    border-color: #9eb23b;
}

.boxContainer {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.circles span {
    width: 20px;
    height: 20px;
}

.circles span:nth-child(1) {
    background-color: #f15f5d;
}

.circles span:nth-child(2) {
    background-color: #fec260;
}

.circles span:nth-child(3) {
    background-color: #9eb23b;
}

.box p {
    font-weight: bold;
    font-size: 20px;
}

.box li {
    font-size: 18px;
}